body{
	font-size:large;
}

nav a{
	color: black;
	display:
}

.navbar-container li{
	background:white;
	padding: 8px 16px;
	border: 1px solid;
	transition:background 0.2s;
}

.navbar-container li:hover {
  background: #d0eaff;      /* warna saat hover */
	font-size:
}

.table-data{
	color:black;
	font-family:Arial
	font-size:100px;
}

.row{
	display:flex;
	gap:40px;
}

.col{
	flex:1;
	padding:10px;
	border:1px solid;
	margin-top:20px;
}

.container{
	margin-bottom:30px;
}

.navbar-container{
	margin-bottom:30px;
}

.table-data {
  margin-top: 30px; /* memberi jarak atas pada tabel */
}